
.fieldsection{
    width: 600px;
    margin: 5px auto;         
    background-color:rgb(214, 207, 206);
    border:1px solid black;
    border-radius: 2px;
  }
  .fieldsection input,label,textarea,select{
      width: 100%;
      padding: 0 10px;
      margin:  0;
      border: 1px solid #ccc;
      border-radius: 4px;
      justify-content: center;
      outline: none;
    }
    .fieldsection label{
      border: none;
    }
    .fieldsection textarea{
      resize: none;
    }
    .btnimg{
      background-color:indianred;
      padding: 5px; 
      color: #fff;
      display: block;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .btnimg:hover{
      background-color: sienna;
    }
    .section2-content{
      margin: 0px 150px;
      display: flex;
      padding: 5px;
    }
   .btnadd,.btnview{
      background-color:indianred;
      color: #fff;
      padding: 5px 10px;
      margin: 5px auto;
      display: block;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .btnadd:hover,.btnview:hover{
      background-color:sienna;
    }
    .btnview{
        display: none;
    }
    .footer-content{
      height: 70px;
      display: flex;
      background-color: black;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      color: white;
    }
    .footer-content h4{
      font-size: 14px;
      font-weight: bold;
      align-items: center;
      justify-content: center;
    }
    @media screen and (max-width:700px) {
        
        .fieldsection,.footer-content{
          flex-direction: column;
          width: 100%;
          padding:10px;
        }
        .fieldsection input[type=text],input[type=number],label,select,input[type=url]{
          width: 100%;
        }
        .footer-content{
          font-size: 4px;
          padding: 5px 10px;
          margin: 10px auto;
        }
    }
   
    