body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0; /*remove white spaces around browser*/
    font-size: 16px;
}
​
hr.solid {
    border-top: 3px solid #bbb;
    width:75%;
}
​
.section1 {
    padding-top: 130px;
    margin: 0 10%;
}
​
.section2 {
    padding-top: 80px;
    margin: 0 10%;
}
​
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
​
.section3 {
    padding-top: 80px;
   
}
​
.flex-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
​
.flex-item {
    width: 38%;
    text-align: left;
    background-color: lightgray;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
​
td{
    padding:10px;
}
​
.images {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
​
.featured-cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
​
a {
    color: white;
}
a:link {
    text-decoration: none;
    color: white;
}
  
a:visited {
    text-decoration: none;
    color: white;
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}

#hEmail {
    color: black;
    text-decoration: none;
}

#modalImage {
    width: 100%;
}

.modalSmImg {
    width: 25%;
    padding: 5px 0px 10px;
}

#enquire{
    text-decoration: none;
    color: white;
}

#balloon-text, #campcation-text{
    padding-top: 10px;
}

.modalText{
    padding: 10px;
}

#promoBanner {
    padding: 0px;
    margin-top: 70px;
}

#heading1, #heading2 {
    text-align: center;
}

.div1 {
    background-color: whitesmoke;
    padding: 20px;
}  

.footerIcon {
    height: 30px;
}

.subHeading {
    padding-top:40px;
    padding-bottom: 10px;
}

.featured-cards {

    transition: transform 0.2s ease;
    //box-shadow: 0 4px 6px 0 #929292;
    border-radius: 0;
    border: 1;
    /*margin-bottom: 1.5em;*/
}
  
.featured-cards:hover {
    transform: scale(1.05);
    cursor: pointer;
}

h1, h2, h3, h4, h5 {
    font-weight:bold;
}

@media screen and (max-width: 600px) {
    #search,#sitemap{
      display: none;
    }

    .subHeading {
        text-align: center;
        font-size: 25px;
    }

    #footerSection {
        display: none;
    }

    .featured-cards p {
        display: none;
    }
    
    /*copy this*/
    .hide {
        display: none;
    }

    #hide1, #hide2, #hide3, #hide4 {
        display: none;
    }

    #show {
        display: flex;
    }
    
    #heading1 {
        font-size: 25px;
    }
    
    #heading1 img{
        display: none;
    }

    #heading2 {
        font-size: 20px;
    }

    .subHeading {

    }

    .featured-cards {
       margin-top: 20px;
    }
}

/*footer {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 12px;
}
​
.section4container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: grey;
    color: white;
    justify-content: center;
}
​
 .section4item{
    width:15%;
    padding: 30px 30px;
    font-size: 14px;  
}
​
.section4item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
​
.secPic{
    width:100%;
    align-items: center;
}*/
