body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
  }

.products {
    margin: 100px 15% 0px 15%;
    font-size:large;
    font-weight: bold;
    text-align: center;
  }

h1, h2, h3, h4, h5 {
    font-weight:bold;
}

h1, h2 {
    color: darkred;
}

a {
  text-decoration: none;
  color:white;
}

a:link {
  text-decoration: none;
  color: white;
}

.email {
  background-color:tomato;
  font-weight: bold;
  border: 0;
  border-radius:5px;
  box-shadow: 0 0 10px grey;
}

.email:hover {
  background-color:crimson;
  box-shadow: 0 0 10px rgb(65, 64, 64);
  transform: scale(1.1);
}

.email a:hover {
  text-decoration: none;
}


.card {
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px 0 #929292;
  border-radius: 0;
  border: 0;
  margin-bottom: 1.5em;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.buttonalign {
  display: inline-block;
  margin-left: 50%;
  margin-right: 10%;
  margin-bottom: 10px;
}

#modalName{
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
}

#modalPrice{
  font-weight: bold;
  font-style: italic;
}

.price{
  font-weight: bold;
  font-style: italic;
}

.enquire a {
  text-decoration: none;
  color: white;
}

hr{
  border-radius: 10px;
  border-width: 5px;
}

.section4item{
  padding: 30px 30px;
  font-size: 14px;  
}

.section4item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.secPic{
  width:30%;
  align-items: center;
}
  
.secPic{
    width:30%;
    align-items: center;
  }

.footerIcon {
    height: 30px;
}

#mobileContact{
  display:none;
  padding: 5%;
  font-size: 14px;
  padding: 10px 20px 60px 20px;
}

@media screen and (max-width: 1000px) {
    #hide, #search, #sitemap{
        display: none;
    }

    #mobileContact{
      display:flex;
    }

    .hide {
      display: none;
  }

    #hide1, #hide2, #hide3, #hide4 {

      display: none;

  }

} /*hide search bar and site map buttons*/