body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
  }

.products {
    margin: 2% 13%;
  }

h1, h2, h3, h4, h5 {
    font-weight:bold;
}

h1, h2 {
    color: darkred;
}

span {
    color:red;
}

.section3container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: grey;
    color: white;
    justify-content: center;
    margin: 0;
  }
.section3item{
    width:15%;
    padding: 30px 30px;
    font-size: 14px;  
  }
.section3item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.section3item a {
    text-decoration: none;
  }

.section3item a:hover {
    text-decoration: none;
  }
  
.secPic{
    width:30%;
    align-items: center;
  }
  @media screen and (max-width: 800px) {
    #search, #sitemap{
        display: none;
    }
} /*hide search bar and site map buttons*/

.email {
    background-color:#ffcbba;
    font-weight: bold;
    border: 0;
    border-radius:5px;
    box-shadow: 0 0 10px grey;
}

.email:hover {
    background-color:tomato;
    box-shadow: 0 0 10px rgb(65, 64, 64);
}

.email a:hover {
    text-decoration: none;
}