* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16px;
    color: #01161E;
    box-sizing:border-box;
}

body {
    margin: 0 10%;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-self: center;
    background-color:#ffcbba;
    width: 80%;
    height:auto;
    position: fixed;
    font-weight:bold;
    color: ##01161E;
}

.logo img{
    width:50%;
}

nav {
    width:100%;
}

nav ul {
    width: 100%;
}

nav ul {
    display:flex;
    justify-content: flex-end;
}

nav ul li {
    list-style:none;
    padding: 10px;
}

section{
    padding-top: 100px;
}
h1 {
    color:darkred;

}
h2 {
    color:darkred;

}
th {
    text-align:left;
}

span {
    color:red;
}

.yellowbutton {
    background-color:#f5f2b8;
    font-weight:bold;
    border-radius: 10px;
    padding:10px;
    margin:10px;
}
.redbutton {
    background-color:#f24033;
    font-weight:bold;
    border-radius: 10px;
    padding:10px;
    margin:10px;
}


.ProductIcon {
    height:100px;
    width:120px;
}

.flexContainer {
    display: flex;
    height: 200px;
    flex-direction: row;
}


.flexContainer > div {
    margin:20px;
    padding:0px 50px;
}

.flexItem {
   flex-basis:auto;
   text-align:center;
   height:20px;
   width:20px;
}
